<!DOCTYPE html>
<html>
  <head>
    <title>Submit Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="alert alert-success text-center" role="alert">
<!--        <h4 class="alert-heading">Thank You!</h4>-->
        <p>Thank you for submitting your choices for  HR Tech MENA Summit 2025. It has been well received.</p>
        <hr>
        <p class="mb-0">Best Regards,<br> Team HRTM </p>
      </div>
    </div>
  </body>
</html>
